*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-mcguinness-mission-aauth-profile.xml
draft-mcguinness-mission-authority-server.xml
draft-mcguinness-mission-capability-model.xml
draft-mcguinness-mission-delegated-authority-validation.xml
draft-mcguinness-mission-expansion.xml
draft-mcguinness-mission-framework.xml
draft-mcguinness-mission-migration.xml
draft-mcguinness-mission-oauth-profile.xml
draft-mcguinness-mission-runtime-profile.xml
draft-mcguinness-mission-shaper-profile.xml
draft-mcguinness-mission-txn-token-chaining.xml
draft-todo-yourname-protocol.xml
package-lock.json
report.xml
!requirements.txt
